### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [125]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [126]:
#total players
player_count = len(purchase_data["SN"].unique())
player_count

576

In [127]:
#age
player_age = purchase_data["Age"].value_counts()
player_age

20    99
22    70
24    67
23    67
21    62
25    59
15    35
30    35
16    30
18    26
19    23
17    22
35    14
33    14
26    14
29    13
27    10
10     9
7      9
34     9
38     9
32     8
8      8
11     7
31     7
37     7
39     6
40     6
9      6
12     6
36     5
28     5
13     4
44     2
41     2
14     2
43     1
42     1
45     1
Name: Age, dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [128]:
#unique items
items_count = len(purchase_data["Item ID"].unique())
items_count

183

In [129]:
#number of purchases
purchase_number = len(purchase_data["Purchase ID"].unique())
purchase_number

780

In [130]:
#average price 
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [131]:
#total revenue
total_revenue = round(purchase_data["Price"].sum(),2)
total_revenue

2379.77

In [132]:
#new data frame
purchase_details = [{"SN": player_count, "Average Price": average_price ,"Number of Purchases": purchase_number,"Number of Unique Items": items_count,"Total Revenue":total_revenue}]
purchase_summary = pd.DataFrame(purchase_details)
purchase_summary.head()

,Average Price,Number of Purchases,Number of Unique Items,SN,Total Revenue
0,3.050987,780,183,576,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [133]:
#count of male/female/other players
gender_count = purchase_data.groupby("Gender").SN.nunique()
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [134]:
#calculate percentages
percentage_gender = ((gender_count/player_count)*100)
percentage_gender

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [135]:
#calculate sum of price by gender
gender_group = purchase_data.groupby(["Gender"])
gender_price = gender_group["Price"].sum()
purchase_by_gender = pd.DataFrame(gender_price)
purchase_by_gender.head()

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [136]:
#calculate purchase total by gender 
purchase_by_gender["Number of Purchases"] = purchase_data.groupby("Gender").SN.count()

#calculate average purchase price by gender
purchase_by_gender["Average Purchase Price"] = round(purchase_summary["Total Revenue"]/purchase_summary["Number of Purchases"],2)

#calculate average total per person by gender 
average_total = round(purchase_summary["Total Revenue"]/player_count, 2)

gender_summary = purchase_data[["Gender", ]] + purchase_by_gender[[]]
gender_summary = [["Gender", "Number of Purchases", "Average Purchase Price", "Total Revenue"]]
gender_summary.head()

AttributeError: 'list' object has no attribute 'head'

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [137]:
#set & categorize bins 
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20-24,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40+,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,20-24,Male,92,Final Critic,4.88
3,3,Chamassasya86,20-24,Male,100,Blindscythe,3.27
4,4,Iskosia90,20-24,Male,131,Fury,1.44

In [138]:
#show bins 
age_count = purchase_data["Age"].value_counts()
age_count

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age, dtype: int64

In [139]:
age_percentage = ((player_age/player_count)*100)
age_percentage

20    17.187500
22    12.152778
24    11.631944
23    11.631944
21    10.763889
25    10.243056
15     6.076389
30     6.076389
16     5.208333
18     4.513889
19     3.993056
17     3.819444
35     2.430556
33     2.430556
26     2.430556
29     2.256944
27     1.736111
10     1.562500
7      1.562500
34     1.562500
38     1.562500
32     1.388889
8      1.388889
11     1.215278
31     1.215278
37     1.215278
39     1.041667
40     1.041667
9      1.041667
12     1.041667
36     0.868056
28     0.868056
13     0.694444
44     0.347222
41     0.347222
14     0.347222
43     0.173611
42     0.173611
45     0.173611
Name: Age, dtype: float64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [140]:
#bin purchase data by age 
purchase_by_age = purchase_data.groupby(["Age"])
price_by_age = purchase_by_age["Price"].sum()
purchase_by_age = pd.DataFrame(price_by_age)
purchase_by_age = purchase_by_age.rename(columns={"Price":"Total Purchase Value"})
purchase_by_age.head()

       Total Purchase Value
Age
<10                   77.13
10-14                 82.78
15-19                412.89
20-24               1114.06
25-29                293.00

In [145]:
#calculate average purchase count by age 
purchase_by_age["Average Purchase Price"] = round(purchase_by_age["Total Purchase Value"]/purchase_summary["Number of Purchases"] ,2).sort_values(ascending=True)
purchase_by_age

       Total Purchase Value  Average Purchase Price
Age
<10                   77.13                     NaN
10-14                 82.78                     NaN
15-19                412.89                     NaN
20-24               1114.06                     NaN
25-29                293.00                     NaN
30-34                214.00                     NaN
35-39                147.67                     NaN
40+                   38.24                     NaN

In [148]:
#new summary dataframe
purchase_by_age = purchase_data["Number of Purchases", purchase_by_age["Average Purchase Price","Total Purchase Value"]]

KeyError: ('Average Purchase Price', 'Total Purchase Value')

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [57]:
#calculate Total Purchase Value, sum of price per person
top_spenders = purchase_data.groupby(["SN"])
price_by_spender = top_spenders["Price"].sum().sort_values(ascending=False)
top_spenders = pd.DataFrame(price_by_spender)
top_spenders = top_spenders.rename(columns={"Price":"Total Purchase Value"})
top_spenders.sort_values(["Total Purchase Value"], ascending=False)
top_spenders.head()

             Total Purchase Value
SN
Lisosia93                   18.96
Idastidru52                 15.45
Chamjask73                  13.83
Iral74                      13.62
Iskadarya95                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [162]:
#retrieve item id, name, and price 
popular_items = purchase_data.groupby(["Item ID","Item Name"])
item_price = popular_items["Price"].sum().sort_values(ascending=False)
popular_items = pd.DataFrame(popular_items)
popular_items = popular_items.rename(columns={"Price":"Total Purchase Value"})
popular_items.head()

                         0                                                  1
0            (0, Splinter)       Purchase ID          SN    Age Gender  It...
1            (1, Crucifer)       Purchase ID              SN    Age  Gende...
2             (2, Verdict)       Purchase ID           SN    Age  Gender  ...
3        (3, Phantomlight)       Purchase ID          SN    Age  Gender  I...
4  (4, Bloodlord's Fetish)       Purchase ID            SN    Age Gender  ...

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [164]:
#sort table by purchase value 
purchases_by_value = purchase_summary[["Number of Purchases", "Average Price"]]
purchases_by_value.sort_values(["Average Price"], ascending=False)

   Number of Purchases  Average Price
0                  780       3.050987

In [ ]:

#Three Observable Trends Are: 
#1. Lisosia93 is a top spender for Heroes of Pymoli 
#2. Splinter is the most popular item in the game 
#3. 20 to 24 year olds are most likely to play the game, whereas over 40 year olds are least likely to play.